@{
    ViewData["Title"] = "Home Page";
}
<svg width="1400px" height="700px" xmlns="http://www.w3.org/2000/svg">
    <!-- Created with SVG Editor - http://github.com/mzalive/SVG Editor/ -->
    <g>
        <title>background</title>
        <rect fill="#fff" id="canvas_background" height="402" width="582" y="-1" x="-1" />
        <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
            <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
        </g>
    </g>
    <g>
        <title>Layer 1</title>
        <path id="svg_1" d="m143.782494,224.816949l30.10648,-119.715939l121.893238,-53.278677l121.893269,53.278677l30.107031,119.715939l-84.355166,96.005367l-135.290256,0l-84.354595,-96.005367z" stroke-width="1.5" stroke="#000" fill="#fff" />
    </g>
</svg>